# Feature Scaling Lab

Use the machine CPU dataset:

In [1]:
from sklearn.datasets import fetch_openml

data = fetch_openml('machine_cpu', version=1)

Train a linear model with and without scaling and compare the feature importance (as evaluated by coefficient sizes):

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

model = LinearRegression()
model.fit(data.data, data.target)
imp = pd.Series(model.coef_, index=data.feature_names)
imp.abs().sort_values(ascending=False)

CHMAX    1.482472
CACH     0.641401
CHMIN    0.270358
MYCT     0.048855
MMIN     0.015293
MMAX     0.005571
dtype: float64

In [3]:
X = StandardScaler().fit_transform(data.data)
model = LinearRegression()
model.fit(X, data.target)
imp = pd.Series(model.coef_, index=data.feature_names)
imp.abs().sort_values(ascending=False)

MMAX     65.176773
MMIN     59.173878
CHMAX    38.447989
CACH     25.996903
MYCT     12.684664
CHMIN     1.838417
dtype: float64

In [4]:
pd.DataFrame(data.data, columns=data.feature_names).describe()

,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,203.822967,2867.980861,11796.153110,25.205742,4.698565,18.267943
std,260.262926,3878.742758,11726.564377,40.628722,6.816274,25.997318
min,17.000000,64.000000,64.000000,0.000000,0.000000,0.000000
25%,50.000000,768.000000,4000.000000,0.000000,1.000000,5.000000
50%,110.000000,2000.000000,8000.000000,8.000000,2.000000,8.000000
75%,225.000000,4000.000000,16000.000000,32.000000,6.000000,24.000000
max,1500.000000,32000.000000,64000.000000,256.000000,52.000000,176.000000