# Feature scaling

For some of our distance-based algorithms, the choice of scale of our features can be important.

Consider California housing:

In [1]:
%matplotlib inline
import pandas as pd

from sklearn import datasets

data = datasets.fetch_california_housing()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [2]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

Note the wide variance between different columns. If we start looking at feature importance, this can over- or under-weight certain features:

In [3]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(df, data.target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
imp = pd.Series(model.coef_, index=df.columns)
imp.abs().sort_values(ascending=False)

AveBedrms     0.645066
MedInc        0.436693
Longitude     0.434514
Latitude      0.421314
AveRooms      0.107322
HouseAge      0.009436
AveOccup      0.003787
Population    0.000004
dtype: float64

We can scale the input features to make sure they are considered equally:

In [5]:
from sklearn.preprocessing import StandardScaler

X = StandardScaler().fit_transform(df)
pd.DataFrame(X).describe()

,0,1,2,3,4,5,6,7
count,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04
mean,6.609700e-17,5.508083e-18,6.609700e-17,-1.060306e-16,-1.101617e-17,3.442552e-18,-1.079584e-15,-8.526513e-15
std,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00
min,-1.774299e+00,-2.196180e+00,-1.852319e+00,-1.610768e+00,-1.256123e+00,-2.290000e-01,-1.447568e+00,-2.385992e+00
25%,-6.881186e-01,-8.453931e-01,-3.994496e-01,-1.911716e-01,-5.638089e-01,-6.171062e-02,-7.967887e-01,-1.113209e+00
50%,-1.767951e-01,2.864572e-02,-8.078489e-02,-1.010650e-01,-2.291318e-01,-2.431585e-02,-6.422871e-01,5.389137e-01
75%,4.593063e-01,6.643103e-01,2.519615e-01,6.015869e-03,2.644949e-01,2.037453e-02,9.729566e-01,7.784964e-01
max,5.858286e+00,1.856182e+00,5.516324e+01,6.957171e+01,3.025033e+01,1.194191e+02,2.958068e+00,2.625280e+00

In [6]:
model = LinearRegression()
model.fit(X, data.target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
imp = pd.Series(model.coef_, index=df.columns)
imp.abs().sort_values(ascending=False)

Latitude      0.899886
Longitude     0.870541
MedInc        0.829619
AveBedrms     0.305696
AveRooms      0.265527
HouseAge      0.118752
AveOccup      0.039326
Population    0.004503
dtype: float64

In [8]:
imp

MedInc        0.829619
HouseAge      0.118752
AveRooms     -0.265527
AveBedrms     0.305696
Population   -0.004503
AveOccup     -0.039326
Latitude     -0.899886
Longitude    -0.870541
dtype: float64

# Lab 

Open the [Feature Scaling Lab](feature-scaling-lab.ipynb)